<main class='container'>
  <div class='row'>
    {{#each artists}}

      <div class='card' style='width: 18rem;'>
        {{#if images.length}}
          <img src='{{images.0.url}}' class='card-img-top' alt='{{name}}' />
        {{/if}}
        <div class='card-body'>
          <h4 class='card-title'>{{name}}</h4>
          <a href='/albums/{{id}}' class='btn btn-primary'>View Albums</a>
        </div>
      </div>
    {{/each}}

  </div>
</main>