<main class="home">

    <form class = "search-form" action="/artist-search" method="GET">

     <input placeholder="Artist name..." name="term" />

        <button type="class='btn btn-primary'" style = "background-color: palevioletred;" >Search for an Artist</button>

    </form>

</main>

